<div class="image-one d-none d-lg-block">
    <img class="clipart-one" src="../../../assets/notebook.svg" alt="clipart">
</div>
<div class="notif-modal" *ngIf="showNotif">
    <div class="notif-container">
        <div class="mt-4 pl-3">
            <button class="float-left" (click)="closeNotification()" mat-raised-button color="primary" style="background-color:rgb(255, 49, 49) !important; color:white;">
                <mat-icon>close</mat-icon>
            </button>
            <div class="bodyText text-center pt-2">
              Notifications
            </div>
        </div>
        <div class="notif-content">
          <div *ngIf="notification">
            <div class="notif-post bodyText text-center p-2 my-4" style="background:white; border-radius:15px;" *ngFor="let post of new">
              <a routerLink="/posts/{{post.id}}" style="text-decoration:none;">
                <div style="color:green;">
                  You got a new comment!
                </div>
                <div style="font-size:17px; color:black;">
                  {{post.title}}
                </div>
              </a>
            </div>
          </div>
          <div class="bodyText no-notif" *ngIf="!notification">
            no new notifications... yet
          </div>
        </div>
    </div>
  </div>
<div class="custom-container">
    <div class="row my-lg-0">
        <div class="col-md-6">
            <div class="my-3">
              <img routerLink="/home" class="logo" src="../../../assets/logo.png" alt="logo">
            </div>
        </div>
        <div class="col-md-6 my-auto d-flex justify-content-center flex-wrap">
            <div class="m-2">
                <button mat-raised-button color="primary" routerLink="/home">
                    <mat-icon>home</mat-icon>
                    <span>Home</span>
                </button>
            </div>
            <div class="m-2">
                <button mat-raised-button color="primary" routerLink="/dashboard">
                    <mat-icon>view_module</mat-icon>
                    <span>Dashboard</span>
                </button>
            </div>
            <div class="m-2">
                <button mat-raised-button color="primary" routerLink="/profile">
                    <mat-icon>person</mat-icon>
                    <span>Profile</span>
                </button>
            </div>
            <div class="m-2" *ngIf="(fireAuth.user | async)">
                <button mat-raised-button color="primary" (click)="logout()">
                  <mat-icon>logout</mat-icon>
                  <span>Log out</span>
                </button>
            </div>
            <div class="m-2" *ngIf="(fireAuth.user | async)">
                <button mat-raised-button color="primary" style="position:relative;" (click)="openNotification()">
                  <mat-icon>notifications</mat-icon>
                  <div class="red-circle" *ngIf="notification"></div>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="container mb-2 mb-lg-5 pb-lg-5">
    <div class="d-flex justify-content-center my-4 my-lg-auto float-lg-right" *ngIf="showNotes">
        <button routerLink="/create-note" mat-raised-button color="primary" style="background-color:rgb(14, 153, 14) !important; color:white;">
            <mat-icon>add_box</mat-icon>
            <span> Add Note</span>
        </button>
    </div>
    <!-- <div class="mt-5 titleText text-center">
        Your Notes
    </div> -->
    <div class="nopost" *ngIf="showAdd">
        <div class="text-center bodyText">
            You don't have any notes yet.
        </div>
        <div class="d-flex justify-content-center mt-3">
            <button routerLink="/create-note" mat-raised-button color="primary" style="background-color:rgb(14, 153, 14) !important; color:white;">
                <mat-icon>add_box</mat-icon>
                <span> Add Note</span>
            </button>
        </div>
    </div>
    <div class="d-flex justify-content-center my-4 my-lg-auto float-lg-left" *ngIf="showNotes">
        <div class="row">
            <div class="my-auto">
                <mat-icon>search</mat-icon>
            </div>
            <div class="my-auto">
                <input type="text" placeholder="Search" [(ngModel)]="searchText">
            </div>
        </div>
    </div>
</div>
<div class="custom-container">
    <div class="posts" *ngIf="searchText == '' && showNotes">
        <div class="row">
            <div class="col-lg-4 col-md-6 content-card" *ngFor="let note of noteData | paginate: {itemsPerPage: 9, currentPage: p}">
                <a routerLink="/notes/{{note.id}}">
                    <div class="card-big-shadow">
                        <div class="card card-just-text" data-background="color" attr.data-color="{{note.color}}" data-radius="none">
                            <h6 class="date"><span *ngIf="note.isEdited">Edited • </span>{{note.date | dateAgo}}</h6>
                            <div class="content">
                                <h4 class="title" style="color:rgb(93, 93, 93);">{{note.title | truncate:28}}</h4>
                                <p class="message">{{note.message | truncate:100}}</p>
                            </div>
                        </div> <!-- end card -->
                    </div>
                </a>
            </div>
        </div>
        <div class="d-lg-flex d-none justify-content-center my-4 pb-5 bodyText" style="position:relative;" *ngIf="searchText == ''">
            <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
        </div>
        <div class="d-flex d-lg-none justify-content-center my-1 pb-4 bodyText" style="position:relative;" *ngIf="searchText == ''">
            <pagination-controls class="my-pagination" (pageChange)="onPageChange($event)" (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
    <!--SEARCH-->
    <div class="posts" *ngIf="searchText !== '' && showNotes">
        <div class="row">
            <div class="col-lg-4 col-md-6 content-card" *ngFor="let note of noteData | filter: searchText">
                <a routerLink="/notes/{{note.id}}">
                    <div class="card-big-shadow">
                        <div class="card card-just-text" data-background="color" attr.data-color="{{note.color}}" data-radius="none">
                            <h6 class="date"><span *ngIf="note.isEdited">Edited • </span>{{note.date | dateAgo}}</h6>
                            <div class="content">
                                <h4 class="title" style="color:rgb(93, 93, 93);">{{note.title | truncate:28}}</h4>
                                <p class="message">{{note.message | truncate:100}}</p>
                            </div>
                        </div> <!-- end card -->
                    </div>
                </a>
            </div>
        </div>
        <div class="d-lg-flex d-none justify-content-center my-4 pb-5 bodyText" style="position:relative;" *ngIf="searchText == ''">
            <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
        </div>
        <div class="d-flex d-lg-none justify-content-center my-1 pb-4 bodyText" style="position:relative;" *ngIf="searchText == ''">
            <pagination-controls class="my-pagination" (pageChange)="onPageChange($event)" (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
    <div class="loading progressIndicator" *ngIf="pageLoading">
        <mat-progress-spinner class=" example-margin" color="secondary" mode="indeterminate"></mat-progress-spinner>
    </div>
</div>