<div class="custom-container">
    <div class="row mb-4 my-lg-0">
        <div class="col-md-6">
            <div class="my-3">
              <img routerLink="/home" class="logo" src="../../../assets/logo.png" alt="logo">
            </div>
        </div>
        <div class="col-md-6 my-auto d-flex justify-content-center">
            <div class="m-2">
                <button mat-raised-button color="primary" routerLink="/home">
                    <mat-icon>home</mat-icon>
                    <span>Home</span>
                </button>
            </div>
        </div>
    </div>
    <div class="box-container">
        <div class="box">
            <div class="bodyText text-center">
                Thanks for stopping by!<br>
                We hope to see you again.
            </div>
            <div class="d-flex justify-content-center my-3">
                <img class="sleep" src="../../../assets/sleep.svg" alt="sleep">
            </div>
        </div>
    </div>
</div>