<div class="image-two d-none d-lg-block">
    <img class="clipart-two" src="../../../assets/placeholder.svg" alt="clipart">
</div>
<div class="custom-modal" *ngIf="changeAvatar">
    <div class="modal-container">
        <div class="d-flex justify-content-center mt-4">
            <button (click)="removeModal()" mat-raised-button color="primary" style="background-color:rgb(255, 49, 49) !important; color:white;">
                <mat-icon>arrow_back</mat-icon>
                <span>Nevermind</span>
            </button>
        </div>
        <div class="m-content">
            <div class="text-center">
                <img *ngFor="let avatar of avatars" class="art m-2" (click)="updateAvatar(avatar.path)" src="{{avatar.path}}" alt="avatar">
            </div>
        </div>
    </div>
</div>
<div class="custom-container">
    <div class="row my-lg-0">
        <div class="col-md-6">
            <div class="my-3">
              <img routerLink="/home" class="logo" src="../../../assets/logo.png" alt="logo">
            </div>
        </div>
        <div class="col-md-6 my-auto d-flex justify-content-center flex-wrap">
            <div class="m-2">
                <button mat-raised-button color="primary" routerLink="/home">
                    <mat-icon>home</mat-icon>
                    <span>Home</span>
                </button>
            </div>
            <div class="m-2">
                <button mat-raised-button color="primary" routerLink="/dashboard">
                    <mat-icon>view_module</mat-icon>
                    <span>Dashboard</span>
                </button>
            </div>
            <div class="m-2" *ngIf="(fireAuth.user | async)">
                <button mat-raised-button color="primary" (click)="logout()">
                  <mat-icon>logout</mat-icon>
                  <span>Log out</span>
                </button>
            </div>
        </div>
    </div>
    <!-- {{ (user | async)?.photoURL }} -->
    <div class="box-container my-4 my-lg-0">
        <div class="image-three d-none d-lg-block">
            <img class="clipart-three" src="../../../assets/tree.svg" alt="clipart">
        </div>
        <div class="image-four d-none d-lg-block">
            <img class="clipart-four" src="../../../assets/moon.svg" alt="clipart">
        </div>
        <div class="image-one d-none d-lg-block">
            <div class="float-right text-right">
                <div class="bodyText mb-2 pr-3" style="font-size:20px;">
                    Notebook
                </div>
                <img routerLink="/notebook" class="clipart-one" src="../../../assets/notebook.svg" alt="clipart">
            </div>
        </div>
        <div class="box">
            <div class="titleText text-center mb-1 mb-lg-0">
                {{ (user | async)?.fullName }}
            </div>
            <div class="row my-1 my-lg-5">
                <div class="profile-container col-lg-6 my-4 my-lg-auto" *ngIf="user | async as user">
                    <div class="d-flex justify-content-center">
                        <img class="avatar" [src]="(userAvatar ?? 'assets/placeholder.svg')" alt="avatar">
                    </div>
                    <button mat-mini-fab style="width:50px; height:50px" (click)="openModal()">
                        <mat-icon style="font-size:25px !important;">edit</mat-icon>
                    </button>
                </div>
                <div class="col-lg-6 my-auto">
                    <div class="bodyText">
                        Email:<br>
                        {{ (user | async)?.email }}<br>
                        <br>
                        Account Type:<br>
                        {{ (user | async)?.accountType }}<br>
                        <br>
                        Admin Status:<br>
                        {{ (user | async)?.isAdmin }}
                    </div>
                </div>
            </div>
            <div class="d-block d-lg-none text-center">
                <div class="bodyText mt-4 mb-2" style="font-size:20px;">
                    Notebook
                </div>
                <img routerLink="/notebook" class="clipart-one-mobile" src="../../../assets/notebook.svg" alt="clipart">
            </div>
        </div>
    </div>
    <div class="mt-5 titleText text-center">
        Your Posts
    </div>
    <div class="nopost" *ngIf="showAdd">
        <div class="text-center bodyText">
            You don't have any posts yet.
        </div>
        <div class="d-flex justify-content-center mt-3">
            <button routerLink="/create-post" mat-raised-button color="primary" style="background-color:rgb(14, 153, 14) !important; color:white;">
                <mat-icon>add_box</mat-icon>
                <span> Add Post</span>
            </button>
        </div>
    </div>
    <div class="posts" *ngIf="showPosts">
        <div class="row">
            <div class="col-lg-4 col-md-6 content-card" *ngFor="let post of userData | paginate: {itemsPerPage: 9, currentPage: p}">
                <a routerLink="/posts/{{post.id}}">
                    <div class="card-big-shadow">
                        <div class="card card-just-text" data-background="color" attr.data-color="{{post.color}}" data-radius="none">
                            <h6 class="date"><span *ngIf="post.isEdited">Edited • </span>{{post.date | dateAgo}}</h6>
                            <div class="content">
                                <h6 class="author mb-2">{{post.author}}</h6>
                                <h4 class="title" style="color:rgb(93, 93, 93);">{{post.title | truncate:28}}</h4>
                                <p class="message">{{post.message | truncate:100}}</p>
                            </div>
                            <h6 class="comment-count" *ngIf="post.commentCount">
                                <div class="row">
                                    <div class="my-auto">
                                        <mat-icon style="font-size:16px!important;">mode_comment</mat-icon>
                                    </div>
                                    <div style="font-size:16px;">
                                        {{post.commentCount}}
                                    </div>
                                </div>
                            </h6>
                        </div> <!-- end card -->
                    </div>
                </a>
            </div>
        </div>
        <div class="d-lg-flex d-none justify-content-center my-4 pb-5 bodyText" style="position:relative;" *ngIf="searchText == ''">
            <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
        </div>
        <div class="d-flex d-lg-none justify-content-center my-1 pb-4 bodyText" style="position:relative;" *ngIf="searchText == ''">
            <pagination-controls class="my-pagination" (pageChange)="onPageChange($event)" (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
    <div class="loading progressIndicator" *ngIf="pageLoading">
        <mat-progress-spinner class=" example-margin" color="secondary" mode="indeterminate"></mat-progress-spinner>
    </div>
</div>