<div class="image-one d-none d-lg-block">
    <img class="clipart-one" src="../../../assets/writing.svg" alt="clipart">
</div>
<div class="custom-modal" *ngIf="deletePostModal">
    <div class="modal-container">
        <div class="content">
            <div class="d-flex justify-content-center my-3">
                <img style="width:100px;" src="../../../assets/trash.svg" alt="warning">
            </div>
            <p class="text-center my-4" style="font-size:25px; color:black; line-height:25px;">
                Are you sure?<br>
                <button class="mt-3 mx-2" mat-raised-button color="primary" style="background-color:rgb(255, 49, 49) !important; color:white;" (click)="deletePost()"><span>Yes</span></button>
                <button class="mt-3 mx-2" mat-raised-button color="primary" (click)="removeModal()"><span>No</span></button>
            </p>
        </div>
    </div>
</div>
<div class="custom-modal" *ngIf="deleteCommentModal">
    <div class="modal-container">
        <div class="content">
            <div class="d-flex justify-content-center my-3">
                <img style="width:100px;" src="../../../assets/delete-page.svg" alt="warning">
            </div>
            <p class="text-center my-4" style="font-size:25px; color:black; line-height:25px;">
                Are you sure?<br>
                <button class="mt-3 mx-2" mat-raised-button color="primary" (click)="deleteComment()" style="background-color:rgb(255, 49, 49) !important; color:white;"><span>Yes</span></button>
                <button class="mt-3 mx-2" mat-raised-button color="primary" (click)="removeModal()"><span>No</span></button>
            </p>
        </div>
    </div>
</div>
<div class="custom-modal" *ngIf="modalSuccess">
    <div class="modal-container">
        <div class="content">
            <div class="d-flex justify-content-center my-3">
                <img style="width:100px;" src="../../../assets/red-check.svg" alt="red-check">
            </div>
            <p class="text-center" style="font-size:30px; color:black; line-height:25px;">
                Deleted
            </p>
            <p class="text-center" style="font-size:18px; color:rgb(133, 86, 0); line-height:25px;">
                Redirecting Back To Dashboard...
            </p>
        </div>
    </div>
</div>
<div class="custom-container" [ngClass]="{ fade: fadePost || fadeEditForm || fadeCommentForm || fadeComment}">
    <div class="row mb-4 my-lg-0">
        <div class="col-md-6">
            <div class="my-3">
              <img routerLink="/home" class="logo" src="../../../assets/logo.png" alt="logo">
            </div>
        </div>
        <div class="col-md-6 my-auto d-flex justify-content-center flex-wrap">
            <div class="m-2">
                <button mat-raised-button color="primary" routerLink="/home">
                    <mat-icon>home</mat-icon>
                    <span>Home</span>
                </button>
            </div>
            <div class="m-2">
                <button mat-raised-button color="primary" routerLink="/dashboard">
                    <mat-icon>view_module</mat-icon>
                    <span>Dashboard</span>
                </button>
            </div>
            <div class="m-2">
                <button mat-raised-button color="primary" routerLink="/profile">
                    <mat-icon>person</mat-icon>
                    <span>Profile</span>
                </button>
            </div>
            <div class="m-2" *ngIf="(fireAuth.user | async)">
                <button mat-raised-button color="primary" (click)="logout()">
                  <mat-icon>logout</mat-icon>
                  <span>Log out</span>
                </button>
              </div>
        </div>
    </div>
    <div class="box-container mt-3" [ngClass]="{ fade: fadePost, blue: bgBluePost, green: bgGreenPost, yellow: bgYellowPost, brown: bgBrownPost, purple: bgPurplePost, pink: bgPinkPost, grey: bgGreyPost, red: bgRedPost, default: bgDefaultPost }">
        <div class="date">
            <span *ngIf="showEdit">Edited • </span>{{postData?.date | dateAgo}}
        </div>
        <div class="box">
            <div class="titleText text-center mb-1">
                {{postData?.title}}
            </div>
            <div class="bodyText text-center mb-3" style="font-style: italic;">
                By: {{postData?.author}}
            </div>
            <div class="d-flex justify-content-center">
                <div class="bodyText" style="white-space: pre-wrap;">
                    {{postData?.message}}
                </div>
            </div>
        </div>
        <div class="loading progressIndicator"  *ngIf="isProgressVisibleDelete">
            <mat-progress-spinner class=" example-margin" color="secondary" mode="indeterminate"></mat-progress-spinner>
        </div>
        <div class="loading progressIndicator" *ngIf="pageLoading">
            <mat-progress-spinner class=" example-margin" color="secondary" mode="indeterminate"></mat-progress-spinner>
        </div>
    </div>
    <div *ngIf="errorMessageDelete" class="bodyText text-center my-3" style="color:rgb(226, 0, 0);">
        {{errorMessageDelete}}
    </div>
    <div *ngIf="errorMessageRefresh" class="bodyText text-center my-3" style="color:rgb(226, 0, 0);">
        {{errorMessageRefresh}}
    </div>
    <div class="d-flex justify-content-center flex-wrap my-2 pb-3 pb-lg-2">
        <button *ngIf="modifyPost" class="modify m-2" mat-raised-button color="primary" data-toggle="collapse" data-target="#collapseEdit" aria-expanded="false" aria-controls="collapseEdit" style="background-color:rgb(255, 149, 49) !important; color:white;">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
        </button>
        <button (click)="onDeletePost()" *ngIf="modifyPost" class="modify m-2" mat-raised-button color="primary" style="background-color:rgb(255, 49, 49) !important; color:white;">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
        </button>
        <button class="m-2" mat-raised-button color="primary" data-toggle="collapse" data-target="#collapseComment" aria-expanded="false" aria-controls="collapseComment" style="background-color:#fff2c7 !important; color:black;">
            <mat-icon>comment</mat-icon>
            <span> Comment</span>
        </button>
    </div>
</div>

<div class="collapse" id="collapseEdit" [ngClass]="{ fade: fadeEditForm }">
    <div class="custom-container pb-5 pb-lg-4">
        <div class="box-container" [ngClass]="{ fade: fadePost, blue: bgBluePost, green: bgGreenPost, yellow: bgYellowPost, brown: bgBrownPost, purple: bgPurplePost, pink: bgPinkPost, grey: bgGreyPost, red: bgRedPost, default: bgDefaultPost }">
            <div class="box">
                <div class="bodyText text-center mb-1">
                    Let's make some changes!
                </div>
                <form class="form" [formGroup]="editForm" type="">
    
                    <div class="form-panel">
                        <div class="form-row">
                            <input [attr.disabled]="editForm.invalid ? true : true" type="text" name="author" formControlName="author" placeholder="Author" [ngClass]="{'invalid' : author && author.invalid && author.touched, 'valid' : author && author.valid && author.touched}" style="text-align:center; background:yellow; opacity:0.7;">
                            <br>
                        </div>
                    </div>
                    <div class="text-center d-lg-flex justify-content-center mb-2">
                        <button class="m-2" mat-raised-button color="primary" (click)="useNameEdit()">Use My Name</button>
                        <button class="m-2" mat-raised-button color="primary" (click)="hideNameEdit()">I Want To Be Anonymous</button>
                    </div>
                    <!-- <div class="text-center error-text" style="color:red; visibility:hidden;" [ngClass]="{'show' : author && author.invalid && author.touched}">
                        Please enter a valid name
                    </div> -->
    
                    <div class="bodyText text-center mt-2">
                        Want a New Color?
                    </div>
                    <div class="color-buttons text-center d-lg-flex justify-content-center my-2">
                    <button class="mx-2 mx-lg-1 mb-3 mb-lg-2" style="background-color:#fff2c7;" mat-raised-button color="primary" (click)="defaultPost()">Default</button>
                    <button class="mx-2 mx-lg-1 mb-3 mb-lg-2" style="background-color:rgb(184,216,215);" mat-raised-button color="primary" (click)="bluePost()">Blue</button>
                    <button class="mx-2 mx-lg-1 mb-3 mb-lg-2" style="background-color:rgb(213,229,163);" mat-raised-button color="primary" (click)="greenPost()">Green</button>
                    <button class="mx-2 mx-lg-1 mb-3 mb-lg-2" style="background-color:rgb(254,226,139);" mat-raised-button color="primary" (click)="yellowPost()">Yellow</button>
                    <button class="mx-2 mx-lg-1 mb-3 mb-lg-2" style="background-color:rgb(213,193,171);" mat-raised-button color="primary" (click)="brownPost()">Brown</button>
                    <button class="mx-2 mx-lg-1 mb-3 mb-lg-2" style="background-color:rgb(186,169,186);" mat-raised-button color="primary" (click)="purplePost()">Purple</button>
                    <button class="mx-2 mx-lg-1 mb-3 mb-lg-2" style="background-color:pink;" mat-raised-button color="primary" (click)="pinkPost()">Pink</button>
                    <button class="mx-2 mx-lg-1 mb-3 mb-lg-2" style="background-color:rgb(255, 137, 137);" mat-raised-button color="primary" (click)="redPost()">Red</button>
                    <button class="mx-2 mx-lg-1 mb-3 mb-lg-2" style="background-color:rgb(189, 189, 189);" mat-raised-button color="primary" (click)="greyPost()">Grey</button>
                    </div>
            
                    <div class="form-panel">
                        <div class="form-row">
                            <input type="text" name="title" formControlName="title" placeholder="Title" [ngClass]="{'invalid' : title && title.invalid && title.touched, 'valid' : title && title.valid && title.touched}">
                            <br>
                        </div>
                    </div>
                    <div class="text-center error-text" style="color:red; visibility:hidden;" [ngClass]="{'show' : title && title.invalid && title.touched}">
                        Please enter a valid title
                    </div>
            
                    <div class="form-row">
                        <textarea name="message" formControlName="message" rows="4" cols="20" placeholder="Message" style="height: 155px !important;" [ngClass]="{'invalid' : message && message.invalid && message.touched, 'valid' : message && message.valid && message.touched}"></textarea>
                        <br>
                    </div>
                    <div class="text-center error-text" style="color:red; visibility:hidden;" [ngClass]="{'show' : message && message.invalid && message.touched}">
                        Please enter a valid message
                    </div>
    
                    <div class="d-flex justify-content-center mt-2" *ngIf="editForm.invalid">
                        <button (click)="onUpdate()" mat-raised-button color="primary" disabled>Update Post</button>
                    </div>
                    <div class="d-flex justify-content-center mt-2" *ngIf="editForm.valid">
                        <button mat-raised-button color="primary" style="background-color:orange !important; color: white;" (click)="onUpdate()">Update Post</button>
                    </div>
    
                </form>
            </div>
            <div class="loading progressIndicator"  *ngIf="isProgressVisibleUpdate">
                <mat-progress-spinner class=" example-margin" color="secondary" mode="indeterminate"></mat-progress-spinner>
            </div>
        </div>
        <div *ngIf="errorMessageUpdate" class="bodyText text-center my-3" style="color:rgb(226, 0, 0);">
            {{errorMessageUpdate}}
        </div>
    </div>
</div>

<div class="collapse" id="collapseComment" [ngClass]="{ fade: fadeCommentForm }">
    <div class="container pb-4" style="position:relative;">
        <div class="comment mx-auto" [ngClass]="{ default: bgDefault, tan: bgTan, red: bgRed, skyBlue: bgSkyBlue, pink: bgPink }">
            <div class="text-center bodyText my-2">
                Leave A Comment!
            </div>
            <form class="form" [formGroup]="commentForm" type="">
            
                <div class="form-panel">
                    <div class="form-row">
                        <input [attr.disabled]="commentForm.invalid ? true : true" type="text" name="author" formControlName="author" placeholder="Author" [ngClass]="{'invalid' : author && author.invalid && author.touched, 'valid' : author && author.valid && author.touched}" style="text-align:center; background:rgb(224, 224, 224); opacity:0.7;">
                        <br>
                    </div>
                </div>
                <div class="text-center d-lg-flex justify-content-center my-4">
                    <button class="mb-3 mb-lg-0 mx-lg-2" mat-raised-button color="primary" (click)="useNameComment()">Use My Name</button>
                    <button class="mx-lg-2" mat-raised-button color="primary" (click)="hideNameComment()">I Want To Be Anonymous</button>
                </div>
                <!-- <div class="text-center error-text" style="color:red; visibility:hidden;" [ngClass]="{'show' : author && author.invalid && author.touched}">
                    Please enter a valid name
                </div> -->

                <div class="text-center d-lg-flex justify-content-center my-2">
                    <button class="mx-2 mb-3" style="background-color:#fff2c7;" mat-raised-button color="primary" (click)="default()">Default</button>
                    <button class="mx-2 mb-3" style="background-color:rgb(224, 202, 172);" mat-raised-button color="primary" (click)="tan()">Tan</button>
                    <button class="mx-2 mb-3" style="background-color:rgb(255, 137, 137);" mat-raised-button color="primary" (click)="red()">Red</button>
                    <button class="mx-2 mb-3" style="background-color:skyblue;" mat-raised-button color="primary" (click)="skyBlue()">Blue</button>
                    <button class="mx-2 mb-3" style="background-color:pink;" mat-raised-button color="primary" (click)="pink()">Pink</button>
                </div>
        
                <div class="form-row">
                    <textarea name="message" formControlName="message" rows="4" cols="20" placeholder="Message" style="height: 155px !important;" [ngClass]="{'invalid' : message && message.invalid && message.touched, 'valid' : message && message.valid && message.touched}"></textarea>
                    <br>
                </div>
                <div class="text-center error-text" style="color:red; visibility:hidden;" [ngClass]="{'show' : message && message.invalid && message.touched}">
                    Please enter a valid message
                </div>
        
                <div class="d-flex justify-content-center pb-4 pb-lg-0 my-2" *ngIf="commentForm.invalid">
                    <button mat-raised-button color="primary" disabled><mat-icon>send</mat-icon> Post!</button>
                </div>
                <div class="d-flex justify-content-center pb-4 pb-lg-0 my-2" *ngIf="commentForm.valid">
                    <button mat-raised-button color="primary" style="background-color:rgb(255, 255, 255) !important; color: black;" (click)="onComment()"><mat-icon>send</mat-icon> Post!</button>
                </div>
            </form>
        </div>
        <div class="loading progressIndicator"  *ngIf="isProgressVisibleComment">
            <mat-progress-spinner class=" example-margin" color="secondary" mode="indeterminate"></mat-progress-spinner>
        </div>
        <div *ngIf="errorMessageComment" class="bodyText text-center my-3" style="color:rgb(226, 0, 0);">
            {{errorMessageComment}}
        </div>
    </div>
</div>
<div *ngIf="showComments" class="container pb-4 comments" style="position:relative;" [ngClass]="{ fade: fadePost || fadeEditForm || fadeCommentForm }">
    <div *ngIf="errorMessageDeleteComment" class="bodyText text-center" style="color:rgb(226, 0, 0);">
        {{errorMessageDeleteComment}}
    </div>
    <div class="bodyText my-5" *ngFor="let comment of commentData | paginate: {itemsPerPage: 4, currentPage: p}" [ngClass]="{ fade: fadeComment }">
        <div class="comment-container mx-auto {{comment?.color}}" *ngIf="user | async as user">
            <h6 class="smallDate">{{comment?.date | dateAgo}}</h6>
            <div class="badge pb-2" *ngIf="comment?.isOwner">
                <div class="row" style="background:#dff5ff; border-radius:10px;">
                    <div class="col-4 my-auto px-0 pt-1">
                        <mat-icon style="font-size:20px !important; color:rgb(255, 149, 49) !important">star</mat-icon>
                    </div>
                    <div class="col-8 my-auto pl-0">
                        <span>Author</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 my-auto">
                    <div class="text-center my-2">
                        {{comment?.author}}
                    </div>
                    <div class="d-flex justify-content-center">
                        <img class="avatar" [src]="(comment?.avatarURL ?? 'assets/placeholder.svg')" alt="avatar">
                    </div>
                </div>
                <div class="col-lg-8 my-auto p-4">
                    {{comment?.message}}
                </div>
            </div>
            <button *ngIf="comment?.canModify && !isOwner" (click)="onDeleteComment(comment?.id)" class="mx-2 mb-4 float-right" mat-raised-button color="primary" style="background-color:rgb(255, 49, 49) !important; color:white;">
                <mat-icon>delete</mat-icon>
            </button>
            <button *ngIf="isOwner" (click)="onDeleteComment(comment?.id)" class="mx-2 mb-4 float-right" mat-raised-button color="primary" style="background-color:rgb(255, 49, 49) !important; color:white;">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
    <div class="loading progressIndicator"  *ngIf="isProgressVisibleDeleteComment">
        <mat-progress-spinner class=" example-margin" color="secondary" mode="indeterminate"></mat-progress-spinner>
    </div>
    <div class="d-lg-flex d-none justify-content-center my-4 pb-5 bodyText" style="position:relative;" *ngIf="searchText == ''">
        <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
    </div>
    <div class="d-flex d-lg-none justify-content-center my-1 pb-4 bodyText" style="position:relative;" *ngIf="searchText == ''">
        <pagination-controls class="my-pagination" (pageChange)="onPageChange($event)" (pageChange)="p = $event"></pagination-controls>
    </div>
</div>