.custom-container {
    max-width: 1400px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.box-container {
    position: relative;
    margin: 0 auto;
    height: auto;
    background-color: lemonchiffon;
    background-image: url('../../../assets/yellow-paper.png');
    background-size: cover;
    box-shadow: -5px 5px 5px grey;
}

.box {
    width: 90%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.logo {
    width: 100%;
}

.bodyText {
    resize: none;
    color: black;
    font-size: 1.5em;
    line-height: 1.4em;
}

.mat-icon{
    height:25px !important;
    width:25px !important;
    font-size:25px !important;
}

.mat-primary {
    background-color: white;
    color: #000;
}

.link {
    text-decoration: none;
    color:black;
}

.link:hover {
    text-decoration: underline;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 1;
}

button {
    font-size: 22px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    color: black;
    font-size: 20px;
    padding: 10px 18px;
    height: 47px;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 3px solid rgba(0, 0, 0, 0.555);
    // border-left: 3px solid black;
    margin: 10px;
    border-radius: 3px;
    flex-grow: 1;
    background:rgba(255, 255, 255, 0.52);
}

.valid {
    border-bottom: 3px solid green !important;
    // border-left: 3px solid green !important;
}

.invalid {
    border-bottom: 3px solid red !important;
    // border-left: 3px solid red !important;
}

.show {
    visibility: visible !important;
}

.form-row {
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;
}

.form-panel {
  background-color: none;
}

.error-text {
    font-size: 16px;
}

@media (min-width: 40em) {
    
    .logo {
        width:auto;
    }
    
    .eye-globe {
        max-width: 400px;
    }

    .bodyText {
        font-size: 1.8em;
    }

    .box {
        width: 60%;
        margin: auto;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea {
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 22px;
        padding: 10px 18px;
        width: 70%;
        flex-grow: 0;
    }

    .error-text {
        font-size: 16px;
    }
    
}